body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.visBack {
  cursor : crosshair;
}

line.link {
  transition: all 0.2s;
  fill: none;
  stroke: #336699;
  stroke-width: 2.5px;
  cursor: pointer;
}

.link-selected {
  fill: #000000 !important;
  stroke: #000000 !important;
  stroke-width: 5.0px !important;
}

.alpha20 {
  opacity: 0.2;
}

text.linklabel {
  fill: #8B0000;
  text-shadow: 0px 0px 1px #FFF;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
}

g.node {
  transition: all 0.2s;
}

circle.node {
  transition: all 0.2s;
  stroke-width: 2.5px;
  cursor: pointer;
}

.node-selected {
  fill: #000000 !important;
  stroke: #000000 !important; 
}

circle.node.nodehover {
  stroke-width: 5px;
}

.alpha25 {
  opacity: 0.25;
}

text.nodelabel {
  fill: #FFF;
  text-shadow: 0px 0px 3px #000;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
}



div.vis {
  top: 43px;
  height: auto;
  position: relative;
}

div.reswrap {
  float: right;
  padding: 6px 0px 6px 8px;
  border-left: solid 1px #e0e0e0;
  position: relative;
}

.slimScrollDiv {
  font-family: sans-serif;
  float: left;
}

div.result {
  margin-bottom: 20px;
  width: 580px;
  min-height: 64px;
}

div.result-thumb {
  width: 64px;
  height: 64px;
  margin: 1px;
  float: left;
  border: solid 1px #CCC;
  background-color: #f8f8f8;
}

div.result-text {
  margin-left: 76px;
}
div.result h3 {
  color: #12C;
  font-size: medium;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

div.result p {
  font-size: small;
  padding: 0;
  margin: 0;
}

div.result p.url {
  color: #093;
}

div.search-header {
  height: 42px;
  width: 100%;
  background-color: #F1F1F1;
  /*border-bottom: 1px solid #E5E5E5;*/
  box-shadow: 0px 1px 1px #e0e0e0;
  float: left;
}

#results-title {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 14px;
  color: #9d9d9d;
  font-weight: bold;
  padding: 20px 10px 0px 0px;
  float: right;
}

#options-bar {
  float: left;
}

a.btn {
  float: left;
  display: inline;
  vertical-align: middle;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
  color: #9d9d9d;
  padding: 4px 10px 4px 10px;
  margin-right: 8px;
  text-decoration: none;
  background-color: #eeeeee;
  border: 1px solid #E0E0E0;
  border-top: none;
  border-bottom: 2px solid #E0E0E0;
}

a.btn:hover {
  background-color: #f3f3f3;
}

a.edit-cluster {
  background: url("images/edit.png") no-repeat 6px 4px;
  padding-left: 22px;
}

a.logo {
  float: left;
  display: inline;
  font-family: 'Russo One', cursive;
  font-size: 18pt;
  vertical-align: middle;
  text-shadow: #FAFAFA -1px 1px 0;
  color: #9d9d9d;
  padding: 8px 10px 0px 10px;
  margin-left: 20px;
  text-decoration: none;
  background-color: #eeeeee;
  border: 1px solid #E0E0E0;
  border-top: none;
  border-bottom: 2px solid #E0E0E0;
}

a.logo:hover {
  background-color: #f3f3f3;
}

div.search-bar {
  background: white;
  border: 1px solid #D9D9D9;
  border-top: 1px solid silver;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  padding-left: 4px;
  padding-right: 2px;
  margin-left: 20px;
  margin-right: 12px;
  height: 26px;
  width: 400px;
  float: left;
}

div.search-items {
  margin-top: 8px;
  margin-right: 20px;
  float: left;
}

.search-button {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: bold;
  height: 22px;
  width: 64px;
  font-size: 11px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: rgb(125,185,232); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(125,185,232) 0%, rgb(41,137,216) 5%, rgb(36,121,191) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(125,185,232)), color-stop(5%,rgb(41,137,216)), color-stop(100%,rgb(36,121,191))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(125,185,232) 0%,rgb(41,137,216) 5%,rgb(36,121,191) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(125,185,232) 0%,rgb(41,137,216) 5%,rgb(36,121,191) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(125,185,232) 0%,rgb(41,137,216) 5%,rgb(36,121,191) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgb(125,185,232) 0%,rgb(41,137,216) 5%,rgb(36,121,191) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#2479bf',GradientType=0 ); /* IE6-9 */
  border: 1px solid #1050ba;
  color: white !important;
  cursor: pointer;
  vertical-align: top;
  margin-top: 2px;
}

.search-button:hover {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#3479EB));
  background-image: -webkit-linear-gradient(top,#4D90FE,#3479EB);
  background-image: -moz-linear-gradient(top,#4D90FE,#3479EB);
  background-image: -ms-linear-gradient(top,#4D90FE,#3479EB);
  background-image: -o-linear-gradient(top,#4D90FE,#3479EB);
  background-image: linear-gradient(top,#4D90FE,#3479EB);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#3479EB');
  border-color: #1361e1;
}

.search-input {
  font-size: medium;
  width: 332px;
  height: 24px;
  border: 0;
  outline: none;
}

.counter-input {
  font-size: small;
  width: 48px;
  height: 26px;
  padding-left: 4px;
  border: 1px solid #D9D9D9;
  border-top: 1px solid silver;
  outline: none;
}

.switch-arrow-border {
  border-color: transparent #cdcdcd transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  left:-1px;
}

.switch-arrow {
  border-color: transparent #FFF transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  left:0px;
}

#switch {
  position: absolute;
  left: -20px;
  top: 0px;
  float: left;
  cursor: pointer;
}
